<div class="main-wrapper">
    <div class="app" id="app">
        <header class="header">
            <div class="header-block header-block-collapse hidden-lg-up">
                <button class="collapse-btn" id="sidebar-collapse-btn">
		        <i class="fa fa-bars"></i>
	            </button>
	        </div>
            
            <div class="header-block header-block-search hidden-sm-down">
                <form role="search" action="https://cse.google.com:443/cse/publicurl?cx=016151413329891946068:dd_05c-e8g8">
                    <div class="input-container"> <i class="fa fa-search"></i> <input type="search" placeholder="Search">
                        <div class="underline"></div>
                    </div>
                </form>
            </div>
        </header>
        <aside class="sidebar">
            <div class="sidebar-container">
                <div class="sidebar-header">
                    <div class="brand">
                        <div class="logo">
                            <i class="fa fa-cutlery " aria-hidden="true"></i>
                        </div> 
                        노맛위키
                    </div>
                </div>
                <nav class="menu">
                    <ul class="nav metismenu" id="sidebar-menu">
                        <li>
                            <%= link_to "메인페이지", root_path %>
                        </li>
                        <li class="active">
                            <%= link_to "등록된 집", gajimas_path %>
                        </li>
                        <li>
                            <%= link_to "랜덤 노맛", random_path %>
                        </li>
                        <li>
                            <%= link_to "추가하기", new_gajima_path%>
                        </li>
                        <li>
                            <a href="index.html"> 페이지 이용방법 </a>
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="sidebar-overlay" id="sidebar-overlay">
        </div>
        <article class="content dashboard-page">
            <div class="container">
                <section class = "mainText">
                    <h3><span class="hard">노맛위키</span>에 오신것을 환영합니다.</h3>
                        <p>위 사이트는 개인적인 의견으로 구성된 곳입니다. </p>
                        <p>검증되지 않았거나 개개인의 입맛 차이에 따라 다른 평가가 이루어 질 수 있습니다. </p>
                </section>
                <section class = "mainText">
                    <% @gajimas.each do |gajima| %>
	                <h2><%= link_to gajima.title, gajima %></h2>
                    <% end %>
                </section>
        </article>
        <footer class="footer">

        </footer>
    </div>
</div>